In [1]:
import pandas as pd
import numpy as np

In [2]:
crew_df = pd.read_csv("../../../Downloads/credits.csv")

In [3]:
print(crew_df.shape)
crew_df.info()

(45476, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
cast    45476 non-null object
crew    45476 non-null object
id      45476 non-null int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [4]:
crew_df.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [5]:
movies_df = pd.read_csv("../../../Downloads/movies_metadata.csv")

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
print(movies_df.shape)
movies_df.id.describe()

(45466, 24)

count      45466
unique     45436
top       141971
freq           3
Name: id, dtype: object

In [7]:
movies_df.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [8]:
# Data contains some random stuff REMOVE them
movies_df = movies_df[~movies_df.id.str.contains("-")]
print(movies_df.shape)

(45463, 24)

In [9]:
movies_df["id"] = movies_df["id"].astype(np.int64)

In [10]:
movie_crew_df = pd.merge(crew_df, movies_df, on = "id")

In [11]:
movie_crew_df.head(1)

,cast,crew,id,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

In [12]:
movie_crew_df = movie_crew_df.drop(["adult", "belongs_to_collection", "homepage", "imdb_id", 
                    "original_language", "release_date", "runtime", "spoken_languages", "status",
                   "tagline", "video", "vote_average", "poster_path",
                   "production_countries", "overview"], axis = 1)

In [13]:
movie_crew_df.original_title = movie_crew_df.original_title.str.lower()
movie_crew_df = movie_crew_df.rename(columns = {'original_title':'Movie_Name'})

In [14]:
movie_crew_df.head(1)

,cast,crew,id,Movie_Name,production_companies,revenue,title
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,toy story,"[{'name': 'Pixar Animation Studios', 'id': 3}]",373554033.0,Toy Story

In [15]:
ba_mtm_df = pd.read_csv("ba_mtm_csv.csv")
ba_mtm_df.shape

(353, 11)

In [16]:
final_df = pd.merge(ba_mtm_df, movie_crew_df, on='Movie_Name')

In [17]:
final_df.shape

(415, 17)

In [18]:
final_df = final_df.drop_duplicates(subset = ["Movie_Name"], keep = "first")

In [19]:
final_df.shape

(324, 17)

In [20]:
final_df.rating.describe()

count    324.000000
mean       1.984568
std        1.074504
min        0.000000
25%        1.000000
50%        2.000000
75%        3.000000
max        3.000000
Name: rating, dtype: float64

In [21]:
ba_3 = final_df[final_df.rating == 3]
ba_2 = final_df[final_df.rating == 2]
ba_1 = final_df[final_df.rating == 1]
ba_0 = final_df[final_df.rating == 0]

In [23]:
print(ba_0.shape, ba_1.shape, ba_2.shape, ba_3.shape)

(31, 17) (96, 17) (44, 17) (153, 17)

In [24]:
final_df.to_csv("FINAL_DATASET.csv")