In [1]:
import pandas as pd
import gc

In [2]:
df = pd.read_csv("FINAL_DATASET.csv")
df.shape

(324, 21)

In [3]:
df.head()

,Movie_Number,Movie_Name,Year_of_Release,IMDB_Rating,Number_of_Votes,Genres,rating,year,id_x,imdbid,...,crew,id_y,budget,genres,popularity,production_companies,revenue,title,vote_count,ROI
0,m0,10 things i hate about you,1999,6.9,62847,"['comedy', 'romance']",3,1999,374,147800.0,...,"[{'credit_id': '52fe43e6c3a36847f807731d', 'de...",4951,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",12.069966,"[{'name': 'Mad Chance', 'id': 1757}, {'name': ...",53478166.0,10 Things I Hate About You,1768.0,3.342385
1,m3,2001: a space odyssey,1968,8.4,163227,"['adventure', 'mystery', 'sci-fi']",0,1968,919,62622.0,...,"[{'credit_id': '52fe4212c3a36847f8001a0b', 'de...",62,10500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",22.494622,"[{'name': 'Stanley Kubrick Productions', 'id':...",68700000.0,2001: A Space Odyssey,3075.0,6.542857
2,m4,48 hrs.,1982,6.9,22289,"['action', 'comedy', 'crime', 'drama', 'thrill...",2,1982,5355,83511.0,...,"[{'credit_id': '52fe421fc3a36847f8005927', 'de...",150,12000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",15.297121,"[{'name': 'Paramount Pictures', 'id': 4}]",78868508.0,48 Hrs.,364.0,6.572376
3,m6,8mm,1999,6.3,48212,"['crime', 'mystery', 'thriller']",1,1999,146,134273.0,...,"[{'credit_id': '52fe4498c3a36847f809f18b', 'de...",8224,40000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",7.473718,"[{'name': 'Columbia Pictures Corporation', 'id...",96618699.0,8MM,479.0,2.415467
4,m7,a nightmare on elm street 4: the dream master,1988,5.2,13590,"['fantasy', 'horror', 'thriller']",3,1988,6020,95742.0,...,"[{'credit_id': '52fe43309251416c75006d1d', 'de...",10131,7000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",8.120317,"[{'name': 'New Line Cinema', 'id': 12}]",72500000.0,A Nightmare on Elm Street 4: The Dream Master,287.0,10.357143

In [4]:
analysis_df = pd.DataFrame(columns = ['Year',
                                      'Movie_Title', 
                                      '#_of_Female_Cast', 
                                      '#_of_Male_Cast',
                                      '#_of_Female_Dialogue',
                                      '#_of_Male_Dialogue',
                                      '#_of_Female_Crew',
                                     '#_of_Male_Crew'])

In [5]:
analysis_df['Movie_Title'] = df['Movie_Name']
analysis_df['Year'] = df['Year_of_Release']
analysis_df.shape

(324, 8)

In [6]:
analysis_df.head()

,Year,Movie_Title,#_of_Female_Cast,#_of_Male_Cast,#_of_Female_Dialogue,#_of_Male_Dialogue,#_of_Female_Crew,#_of_Male_Crew
0,1999,10 things i hate about you,NaN,NaN,NaN,NaN,NaN,NaN
1,1968,2001: a space odyssey,NaN,NaN,NaN,NaN,NaN,NaN
2,1982,48 hrs.,NaN,NaN,NaN,NaN,NaN,NaN
3,1999,8mm,NaN,NaN,NaN,NaN,NaN,NaN
4,1988,a nightmare on elm street 4: the dream master,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
mcm_df = pd.read_csv("mcm_csv.csv")

In [8]:
mcm_df.loc[mcm_df["Movie_Number"] == "m0"]

,Character_Id,Character_Name,Movie_Number,Movie_Title,Gender,Position_in_Credits
0,u0,BIANCA,m0,10 things i hate about you,f,4
1,u1,BRUCE,m0,10 things i hate about you,m,?
2,u2,CAMERON,m0,10 things i hate about you,m,3
3,u3,CHASTITY,m0,10 things i hate about you,f,?
4,u4,JOEY,m0,10 things i hate about you,m,6
5,u5,KAT,m0,10 things i hate about you,f,2
6,u6,MANDELLA,m0,10 things i hate about you,f,7
7,u7,MICHAEL,m0,10 things i hate about you,m,5
8,u8,MISS PERKY,m0,10 things i hate about you,m,?
9,u9,PATRICK,m0,10 things i hate about you,m,1
10,u10,SHARON,m0,10 things i hate about you,f,?
11,u11,WALTER,m0,10 things i hate about you,m,9

In [9]:
## Getting the number of female and male characters
for rows in analysis_df.itertuples():
    f_count = 0
    m_count = 0
    for row2 in mcm_df.itertuples():
        if row2[4] == rows[2]:
            if row2[5] == 'f':
                f_count += 1
            else:
                m_count += 1
    analysis_df.at[rows.Index, "#_of_Female_Cast"] = f_count
    analysis_df.at[rows.Index, "#_of_Male_Cast"] = m_count

In [10]:
analysis_df.head()

,Year,Movie_Title,#_of_Female_Cast,#_of_Male_Cast,#_of_Female_Dialogue,#_of_Male_Dialogue,#_of_Female_Crew,#_of_Male_Crew
0,1999,10 things i hate about you,5,7,NaN,NaN,NaN,NaN
1,1968,2001: a space odyssey,2,11,NaN,NaN,NaN,NaN
2,1982,48 hrs.,7,9,NaN,NaN,NaN,NaN
3,1999,8mm,3,12,NaN,NaN,NaN,NaN
4,1988,a nightmare on elm street 4: the dream master,5,3,NaN,NaN,NaN,NaN

In [11]:
del mcm_df

In [12]:
crew_df = pd.read_csv("Crew_Dataset.csv")

In [13]:
crew_df.loc[crew_df["Movie_Number"] == "m0"]

,Movie_Number,Movie_Name,Crew_Name,Job,Gender
0,m0,10 things i hate about you,Charles Graffeo,Set Decoration,m
1,m0,10 things i hate about you,William Shakespeare,Theatre Play,m
2,m0,10 things i hate about you,Mark Irwin,Director of Photography,m
3,m0,10 things i hate about you,O. Nicholas Brown,Editor,m
4,m0,10 things i hate about you,Kimberly A. Tillman,Costume Design,f
5,m0,10 things i hate about you,Richard Gibbs,Original Music Composer,m
6,m0,10 things i hate about you,Andrew Lazar,Producer,m
7,m0,10 things i hate about you,Carol Winstead Wood,Production Design,f
8,m0,10 things i hate about you,Gil Junger,Director,m
9,m0,10 things i hate about you,Karen McCullah Lutz,Writer,f
10,m0,10 things i hate about you,Kirsten Smith,Writer,f
11,m0,10 things i hate about you,Seth Jaret,Executive Producer,m
12,m0,10 things i hate about you,Jeffrey Chernov,Executive Producer,m
13,m0,10 things i hate about you,Greg Silverman,Associate Producer,m
14,m0,10 things i hate about you,Gilbert Wong,Art Direction,f
15,m0,10 things i hate about you,Marcia Ross,Casting,f
16,m0,10 things i hate about you,Gail Goldberg,Casting,f
17,m0,10 things i hate about you,Ralph Sall,Executive Music Producer,m
18,m0,10 things i hate about you,Mel Metcalfe,Sound Re-Recording Mixer,m
19,m0,10 things i hate about you,Terry Porter,Sound Re-Recording Mixer,m
20,m0,10 things i hate about you,Albert Gasser,Dialogue Editor,m
21,m0,10 things i hate about you,Dean A. Zupancic,Sound Re-Recording Mixer,m
22,m0,10 things i hate about you,Ross Fanger,Unit Production Manager,m
23,m0,10 things i hate about you,Donna Morong,Casting,f
24,m0,10 things i hate about you,K.C. Colwell,Assistant Director,m
25,m0,10 things i hate about you,Robin Buerki,Camera Operator,m
26,m0,10 things i hate about you,Robin Buerki,Steadycam,m
27,m0,10 things i hate about you,Donald J. Malouf,Supervising Sound Effects Editor,m
28,m0,10 things i hate about you,Nancy Karlin,Script Supervisor,f
29,m0,10 things i hate about you,Jody Hedien,Co-Producer,m
30,m0,10 things i hate about you,"""Martin Vinnie Hagood""",Makeup Artist,m
31,m0,10 things i hate about you,Pauletta O. Lewis,Key Hair Stylist,f
32,m0,10 things i hate about you,Alexandria Forster,Costume Supervisor,m
33,m0,10 things i hate about you,Gary Katsuya Ushino,First Assistant Camera,m
34,m0,10 things i hate about you,Marguerite Pomerhn Derricks,Choreographer,m
35,m0,10 things i hate about you,Ben Scott,Stunt Coordinator,f
36,m0,10 things i hate about you,David Schneider,Boom Operator,m

In [14]:
## Getting the number of female and male characters
for rows in analysis_df.itertuples():
    f_count = 0
    m_count = 0
    for row2 in crew_df.itertuples():
        if row2[2] == rows[2]:
            if row2[5] == 'f':
                f_count += 1
            else:
                m_count += 1
    analysis_df.at[rows.Index, "#_of_Female_Crew"] = f_count
    analysis_df.at[rows.Index, "#_of_Male_Crew"] = m_count

In [15]:
del crew_df
analysis_df.head()

,Year,Movie_Title,#_of_Female_Cast,#_of_Male_Cast,#_of_Female_Dialogue,#_of_Male_Dialogue,#_of_Female_Crew,#_of_Male_Crew
0,1999,10 things i hate about you,5,7,NaN,NaN,11,26
1,1968,2001: a space odyssey,2,11,NaN,NaN,2,17
2,1982,48 hrs.,7,9,NaN,NaN,1,14
3,1999,8mm,3,12,NaN,NaN,15,62
4,1988,a nightmare on elm street 4: the dream master,5,3,NaN,NaN,3,12

In [16]:
## Getting the number of dialogues
ml_df = pd.read_csv("ml_csv.csv")
mcm_df = pd.read_csv("mcm_csv.csv")
print(len(ml_df.Line_Id.unique()), ml_df.shape)

304713 (304713, 5)

In [17]:
ml_df.head(1)

  Line_Id Character_Id Movie_Number Character_Name      Dialogue
0   L1045           u0           m0         BIANCA  They do not!

In [18]:
mcm_df.head(1)

,Character_Id,Character_Name,Movie_Number,Movie_Title,Gender,Position_in_Credits
0,u0,BIANCA,m0,10 things i hate about you,f,4

In [19]:
new_df = pd.merge(ml_df, mcm_df, how='left')
new_df.drop_duplicates(keep='first', inplace=True)
new_df.shape

(304713, 8)

In [20]:
new_df.head()

,Line_Id,Character_Id,Movie_Number,Character_Name,Dialogue,Movie_Title,Gender,Position_in_Credits
0,L1045,u0,m0,BIANCA,They do not!,10 things i hate about you,f,4
1,L1044,u2,m0,CAMERON,They do to!,10 things i hate about you,m,3
2,L985,u0,m0,BIANCA,I hope so.,10 things i hate about you,f,4
3,L984,u2,m0,CAMERON,She okay?,10 things i hate about you,m,3
4,L925,u0,m0,BIANCA,Let's go.,10 things i hate about you,f,4

In [21]:
## Getting the number of female and male characters
for rows in analysis_df.itertuples():
    f_count = 0
    m_count = 0
    for row2 in new_df.itertuples():
        if row2[6] == rows[2]:
            if row2[7] == 'f':
                f_count += 1
            else:
                m_count += 1
    analysis_df.at[rows.Index, "#_of_Female_Dialogue"] = f_count
    analysis_df.at[rows.Index, "#_of_Male_Dialogue"] = m_count

In [22]:
del new_df
del ml_df
del mcm_df

In [23]:
analysis_df.head()

,Year,Movie_Title,#_of_Female_Cast,#_of_Male_Cast,#_of_Female_Dialogue,#_of_Male_Dialogue,#_of_Female_Crew,#_of_Male_Crew
0,1999,10 things i hate about you,5,7,295,374,11,26
1,1968,2001: a space odyssey,2,11,17,255,2,17
2,1982,48 hrs.,7,9,109,469,1,14
3,1999,8mm,3,12,40,544,15,62
4,1988,a nightmare on elm street 4: the dream master,5,3,91,64,3,12

In [24]:
analysis_df.to_csv("Analysis_csv.csv", index = False)