In [1]:
import pandas as pd
import csv
import gensim
import numpy as np
import nltk
from nltk.tokenize import RegexpTokenizer
from scipy import spatial
import plotly.plotly as py
import plotly.graph_objs as go
import matplotlib.pyplot as plt
from collections import Counter
import gc
import math
gc.collect()

9

In [ ]:
df = pd.read_csv("FINAL_DATASET.csv")
df.shape

In [ ]:
df.head()

In [ ]:
analysis_df = pd.DataFrame(columns = ['Year',
                                      'Movie_Title', 
                                      '#_of_Female_Cast', 
                                      '#_of_Male_Cast',
                                      '#_of_Female_Dialogue',
                                      '#_of_Male_Dialogue',
                                      '#_of_Female_Crew',
                                     '#_of_Male_Crew'])

In [ ]:
analysis_df['Movie_Title'] = df['Movie_Name']
analysis_df['Year'] = df['Year_of_Release']
analysis_df.shape

In [ ]:
analysis_df.head()

In [ ]:
mcm_df = pd.read_csv("mcm_csv.csv")

In [ ]:
mcm_df.loc[mcm_df["Movie_Number"] == "m0"]

In [ ]:
## Getting the number of female and male characters
for rows in analysis_df.itertuples():
    f_count = 0
    m_count = 0
    for row2 in mcm_df.itertuples():
        if row2[4] == rows[2]:
            if row2[5] == 'f':
                f_count += 1
            else:
                m_count += 1
    analysis_df.at[rows.Index, "#_of_Female_Cast"] = f_count
    analysis_df.at[rows.Index, "#_of_Male_Cast"] = m_count

In [ ]:
analysis_df.head()

In [ ]:
del mcm_df

In [ ]:
crew_df = pd.read_csv("Crew_Dataset.csv")

In [ ]:
crew_df.loc[crew_df["Movie_Number"] == "m0"]

In [ ]:
## Getting the number of female and male characters
for rows in analysis_df.itertuples():
    f_count = 0
    m_count = 0
    for row2 in crew_df.itertuples():
        if row2[2] == rows[2]:
            if row2[5] == 'f':
                f_count += 1
            else:
                m_count += 1
    analysis_df.at[rows.Index, "#_of_Female_Crew"] = f_count
    analysis_df.at[rows.Index, "#_of_Male_Crew"] = m_count

In [ ]:
del crew_df
analysis_df.head()

In [ ]:
## Getting the number of dialogues
ml_df = pd.read_csv("ml_csv.csv")
mcm_df = pd.read_csv("mcm_csv.csv")
print(len(ml_df.Line_Id.unique()), ml_df.shape)

In [ ]:
ml_df.head(1)

In [ ]:
mcm_df.head(1)

In [ ]:
new_df = pd.merge(ml_df, mcm_df, how='left')
new_df.drop_duplicates(keep='first', inplace=True)
new_df.shape

In [ ]:
new_df.head()

In [ ]:
## Getting the number of female and male characters
for rows in analysis_df.itertuples():
    f_count = 0
    m_count = 0
    for row2 in new_df.itertuples():
        if row2[6] == rows[2]:
            if row2[7] == 'f':
                f_count += 1
            else:
                m_count += 1
    analysis_df.at[rows.Index, "#_of_Female_Dialogue"] = f_count
    analysis_df.at[rows.Index, "#_of_Male_Dialogue"] = m_count

In [ ]:
del new_df
del ml_df
del mcm_df

In [ ]:
analysis_df.head()

In [ ]:
analysis_df.to_csv("Analysis_csv.csv", index = False)

# Getting Sentiment scores in place

In [ ]:
analy = pd.read_csv("Analysis_csv.csv")
print(analy.shape)

In [ ]:
analy.head()

In [ ]:
ml = pd.read_csv("ml_csv.csv")
mcm = pd.read_csv("mcm_csv.csv")
print(ml.shape)

In [ ]:
ml.loc[ml["Movie_Number"] == 'm0'].shape

In [ ]:
ml.head()

In [ ]:
mcm.head()

In [ ]:
ml_mcm = pd.merge(ml, mcm, on = ["Movie_Number", "Character_Name"], how = "left")
ml_mcm.shape

In [ ]:
ml_mcm.head()

In [ ]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import re
import numpy as np

In [ ]:
sid = SentimentIntensityAnalyzer()

In [ ]:
# Now doing it for the movie
for rows in analy.itertuples():
    sent_dict = {}
    for rows2 in ml_mcm.itertuples():
        if rows2[7] == rows[2]:
            l = rows2[5]
            line = re.sub(r'\.\.+', '', str(l))
            s_score = sid.polarity_scores(line)
            sent_dict[rows2.Index] = {rows2[8] : s_score.get('compound')}
#     print(sent_dict, len(sent_dict))
    g_listm = []
    genre_listm = []
    g_listf = []
    genre_listf = []
    sum_f = 0; sum_m = 0
    for key, vals in sent_dict.items():
        gender = str(list(sent_dict.get(key, {}).keys())).replace('[','').replace(']', '').replace('\'', '')
        genre = str(list(sent_dict.get(key, {}).values())).replace('[','').replace(']', '').replace('\'', '')
        if gender == 'm' or gender == 'M':
            g_listm.append(gender)
            genre_listm.append(genre)
        else:
            g_listf.append(gender)
            genre_listf.append(genre)
    genre_listf = np.array(genre_listf, dtype = float)
    genre_listm = np.array(genre_listm, dtype = float)
#     print(genre_listf,  "\n----\n", genre_listm)
    try:
        sum_f = sum(genre_listf)/len(genre_listf)
    except:
        sum_f = 0
    try:
        sum_m = sum(genre_listm)/len(genre_listm)
    except:
        sum_m = 0
    print(sum_f, "----", sum_m)
    analy.at[rows.Index, "Sentiment_Female"] = sum_f
    analy.at[rows.Index, "Sentiment_Male"] = sum_m

In [ ]:
analy.tail()

In [ ]:
analy.to_csv("Analysis_csv.csv", index = False)

# Code for the Genre tagging

In [2]:
import gensim
try:
    model = gensim.models.KeyedVectors.load_word2vec_format('../Google_Billion_Word_Corpus/GoogleNews-vectors-negative300.bin', binary=True)
except Exception as e:
    print(e)

In [3]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

In [4]:
ml = pd.read_csv("ml_csv.csv")
mcm = pd.read_csv("mcm_csv.csv")
print(ml.shape)

(304713, 5)

In [5]:
ml_mcm = pd.merge(ml, mcm, on = ["Movie_Number", "Character_Name"], how = "left")
ml_mcm.shape

(304713, 9)

In [6]:
ml_mcm.head()

,Line_Id,Character_Id_x,Movie_Number,Character_Name,Dialogue,Character_Id_y,Movie_Title,Gender,Position_in_Credits
0,L1045,u0,m0,BIANCA,They do not!,u0,10 things i hate about you,f,4
1,L1044,u2,m0,CAMERON,They do to!,u2,10 things i hate about you,m,3
2,L985,u0,m0,BIANCA,I hope so.,u0,10 things i hate about you,f,4
3,L984,u2,m0,CAMERON,She okay?,u2,10 things i hate about you,m,3
4,L925,u0,m0,BIANCA,Let's go.,u0,10 things i hate about you,f,4

In [7]:
mtm_df = pd.read_csv("mtm_csv.csv")
analy = pd.read_csv("Analysis_csv.csv")
print(analy.shape)
mtm_df.rename(columns = {'Movie_Name': 'Movie_Title'}, inplace = True)
mtm_df.head()

(324, 10)

,Movie_Number,Movie_Title,Year_of_Release,IMDB_Rating,Number_of_Votes,Genres
0,m0,10 things i hate about you,1999,6.9,62847,"['comedy', 'romance']"
1,m1,1492: conquest of paradise,1992,6.2,10421,"['adventure', 'biography', 'drama', 'history']"
2,m2,15 minutes,2001,6.1,25854,"['action', 'crime', 'drama', 'thriller']"
3,m3,2001: a space odyssey,1968,8.4,163227,"['adventure', 'mystery', 'sci-fi']"
4,m4,48 hrs.,1982,6.9,22289,"['action', 'comedy', 'crime', 'drama', 'thrill..."

In [8]:
analy.head(2)

,Year,Movie_Title,#_of_Female_Cast,#_of_Male_Cast,#_of_Female_Dialogue,#_of_Male_Dialogue,#_of_Female_Crew,#_of_Male_Crew,Sentiment_Female,Sentiment_Male
0,1999,10 things i hate about you,5,7,295,374,11,26,0.027764,0.026287
1,1968,2001: a space odyssey,2,11,17,255,2,17,0.244724,0.141933

In [9]:
movie_list = analy.Movie_Title.unique()
print(len(movie_list))

324

In [10]:
new_Df = ml_mcm.loc[ml_mcm['Movie_Title'].isin(movie_list)]

In [11]:
new_Df.loc[new_Df['Movie_Number'] == 'm0'].shape

(669, 9)

In [12]:
new_Df.shape

(163017, 9)

In [13]:
new_Df['Dialogue'] = new_Df['Dialogue'].str.lower()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
new_Df.head(1)

,Line_Id,Character_Id_x,Movie_Number,Character_Name,Dialogue,Character_Id_y,Movie_Title,Gender,Position_in_Credits
0,L1045,u0,m0,BIANCA,they do not!,u0,10 things i hate about you,f,4

In [15]:
analy = pd.merge(analy, mtm_df, on = 'Movie_Title', how = 'left')
analy.drop(['Movie_Number', 'Year_of_Release', 'IMDB_Rating', 'Number_of_Votes'], axis = 1, inplace = True)
print(analy.shape)

(324, 11)

In [16]:
analy.head(2)

,Year,Movie_Title,#_of_Female_Cast,#_of_Male_Cast,#_of_Female_Dialogue,#_of_Male_Dialogue,#_of_Female_Crew,#_of_Male_Crew,Sentiment_Female,Sentiment_Male,Genres
0,1999,10 things i hate about you,5,7,295,374,11,26,0.027764,0.026287,"['comedy', 'romance']"
1,1968,2001: a space odyssey,2,11,17,255,2,17,0.244724,0.141933,"['adventure', 'mystery', 'sci-fi']"

In [17]:
tokenizer = RegexpTokenizer(r'\w+')

for rows in analy.itertuples():
    gdict = {}
    # Genre information
    j = rows[11]
    j=j.replace('[',"")
    j=j.replace(']',"")
    j=j.replace("'","")
    j=j.split(", ")
    j = ['science' if x == 'sci-fi' else x for x in j]
    print(j)
    try:
        j = [j[0], j[1], j[2]]
    except:
        if len(j) == 2:
            j = [j[0], j[1]]
        else:
            j = [j[0]]
    
    j = pd.Series(j).drop_duplicates().tolist()    
    
    try:
        print(j[0], j[1], j[2])
    except:
        if len(j) == 2:
            print(j[0], j[1])
        else:
            print(j[0])
        
    gdict[j[0]] = model[j[0]]
    try:
        gdict[j[1]] = model[j[1]]
    except:
        gdict["Nan"] = np.zeros(300)
    try:
        gdict[j[2]] = model[j[2]]
    except:
        gdict["NaN"] = np.zeros(300)
        
    women_vals = [0, 0, 0]
    men_vals = [0, 0, 0]
    fc = 0
    mc = 0
    final_vals = []
    
    for rows2 in new_Df.itertuples():
        if rows2[7] == rows[2]:
            try:
                line = tokenizer.tokenize(rows2[5])
            except:
                line=''
            av = np.zeros(300)
            val2={}
            
            line=[w for w in line if not w in stop_words]
            l1=len(line)
            for tokens in line:
                try:
                    av+=model[tokens]
                except:
                    l1-=1
                    pass
            av=av/l1
            # Cosine similarities
            for key, vals in gdict.items():
                try:
                    val2[key] = 1 - spatial.distance.cosine(av, vals)
                except:
                    pass
            final_vals = [val2[k] for k in val2]
            final_vals = [0 if math.isnan(x) else x for x in final_vals]
#             print(final_vals, rows2[8])
            
            if rows2[8] == 'f' or rows2[8] == 'F':
                women_vals[0] += final_vals[0]
                women_vals[1] += final_vals[1]
                women_vals[2] += final_vals[2]
                fc += 1
            else:
                men_vals[0] += final_vals[0]
                men_vals[1] += final_vals[1]
                men_vals[2] += final_vals[2]
                mc += 1
    
#     print(women_vals[0]/fc, men_vals[0]/mc, women_vals[1]/fc, men_vals[1]/mc)
    try:
        analy.at[rows.Index, "Genre1_Tag_Female"] = float(women_vals[0]/fc)
    except:
        analy.at[rows.Index, "Genre1_Tag_Female"] = float(0)
    try:
        analy.at[rows.Index, "Genre1_Tag_Male"] = float(men_vals[0]/mc)
    except:
        analy.at[rows.Index, "Genre1_Tag_Male"] = float(0)
    try:
        analy.at[rows.Index, "Genre2_Tag_Female"] = float(women_vals[1]/fc)
    except:
        analy.at[rows.Index, "Genre2_Tag_Female"] = float(0)
    try:
        analy.at[rows.Index, "Genre2_Tag_Male"] = float(men_vals[1]/mc)
    except:
        analy.at[rows.Index, "Genre2_Tag_Male"] = float(0)
    try:
        analy.at[rows.Index, "Genre3_Tag_Female"] = float(women_vals[2]/fc)
    except:
        analy.at[rows.Index, "Genre3_Tag_Female"] = float(0)
    try:
        analy.at[rows.Index, "Genre3_Tag_Male"] = float(men_vals[2]/mc)
    except:
        analy.at[rows.Index, "Genre3_Tag_Male"] = float(0)

['comedy', 'romance']
comedy romance

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:64: RuntimeWarning:

invalid value encountered in true_divide

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/scipy/spatial/distance.py:698: RuntimeWarning:

invalid value encountered in double_scalars

['adventure', 'mystery', 'science']
adventure mystery science
['action', 'comedy', 'crime', 'drama', 'thriller']
action comedy crime
['crime', 'mystery', 'thriller']
crime mystery thriller
['fantasy', 'horror', 'thriller']
fantasy horror thriller
['action', 'drama', 'thriller']
action drama thriller
['comedy', 'romance']
comedy romance
['crime', 'drama', 'science', 'thriller']
crime drama science
['action', 'science', 'thriller']
action science thriller
['biography', 'drama', 'music']
biography drama music
['horror', 'romance']
horror romance
['action', 'western']
action western
['drama', 'thriller']
drama thriller
['drama', 'thriller']
drama thriller
['action', 'adventure', 'comedy', 'crime']
action adventure comedy
['comedy', 'romance']
comedy romance
['drama', 'romance', 'war']
drama romance war
['crime', 'drama', 'mystery', 'thriller']
crime drama mystery
['adventure', 'drama', 'fantasy']
adventure drama fantasy
['drama', 'science', 'thriller']
drama science thriller
['comedy', 'drama', 'romance']
comedy drama romance
['crime', 'mystery', 'thriller']
crime mystery thriller
['action', 'biography', 'drama', 'history', 'war']
action biography drama
['drama', 'romance', 'war']
drama romance war
['adventure', 'drama']
adventure drama
['comedy', 'science', 'thriller']
comedy science thriller
['drama', 'mystery', 'science']
drama mystery science
['comedy', 'adult']
comedy adult
['comedy', 'musical']
comedy musical
['drama', 'romance', 'science']
drama romance science
['comedy', 'drama', 'romance', 'western']
comedy drama romance
['horror', 'mystery', 'mystery', 'science', 'science']
horror mystery
['action', 'adventure', 'fantasy', 'science', 'fantasy']
action adventure fantasy
['comedy', 'drama', 'romance']
comedy drama romance
['drama', 'fantasy']
drama fantasy
['biography', 'drama']
biography drama
['drama', 'horror', 'science']
drama horror science
['horror']
horror
['action', 'crime', 'horror', 'thriller']
action crime horror
['action', 'drama']
action drama
['action', 'horror', 'science', 'thriller']
action horror science
['action', 'adventure', 'comedy', 'science']
action adventure comedy
['comedy', 'drama']
comedy drama
['action', 'adventure', 'comedy', 'fantasy', 'science', 'action', 'adventure', 'comedy', 'science']
action adventure comedy
['animation', 'comedy', 'fantasy', 'science', 'horror']
animation comedy fantasy
['action', 'adventure', 'drama']
action adventure drama
['drama', 'romance']
drama romance
['comedy', 'romance']
comedy romance
['drama', 'horror', 'thriller']
drama horror thriller
['action', 'adventure', 'fantasy']
action adventure fantasy
['horror']
horror
['comedy', 'drama', 'music', 'romance']
comedy drama music
['action', 'fantasy']
action fantasy
['comedy', 'drama', 'romance']
comedy drama romance
['drama', 'war']
drama war
['horror']
horror
['comedy', 'drama']
comedy drama
['drama', 'science', 'thriller']
drama science thriller
['action', 'adventure', 'science', 'thriller']
action adventure science
['action', 'adventure', 'thriller', 'action', 'adventure', 'fantasy']
action adventure thriller
['action', 'adventure']
action adventure
['comedy', 'romance', 'crime']
comedy romance crime
['comedy', 'romance']
comedy romance
['biography', 'drama', 'history', 'mystery', 'thriller']
biography drama history
['crime', 'drama', 'thriller']
crime drama thriller
['horror', 'science']
horror science
['thriller']
thriller
['comedy', 'drama']
comedy drama
['crime', 'drama']
crime drama
['fantasy', 'action', 'adventure', 'science']
fantasy action adventure
['comedy']
comedy
['fantasy', 'adventure', 'romance']
fantasy adventure romance
['fantasy', 'comedy', 'romance', 'animation', 'comedy', 'fantasy', 'horror']
fantasy comedy romance
['drama', 'horror', 'mystery', 'thriller']
drama horror mystery
['adventure', 'drama', 'fantasy', 'mystery']
adventure drama fantasy
['action', 'adventure', 'comedy', 'science']
action adventure comedy
['action', 'crime', 'mystery', 'science', 'thriller', 'action', 'animation', 'drama', 'mystery', 'science', 'thriller']
action crime mystery
['biography', 'drama', 'history']
biography drama history
['drama', 'romance']
drama romance
['comedy', 'drama', 'romance']
comedy drama romance
['adventure', 'drama', 'science']
adventure drama science
['animation', 'comedy', 'fantasy', 'romance']
animation comedy fantasy
['drama']
drama
['comedy', 'romance']
comedy romance
['action', 'comedy', 'fantasy']
action comedy fantasy
['comedy']
comedy
['crime', 'drama', 'thriller']
crime drama thriller
['horror']
horror
['comedy', 'romance']
comedy romance
['crime', 'drama', 'mystery', 'thriller', 'western']
crime drama mystery
['comedy', 'adventure', 'crime', 'music']
comedy adventure crime
['drama', 'romance']
drama romance
['thriller']
thriller
['comedy', 'drama', 'fantasy']
comedy drama fantasy
['comedy', 'drama', 'romance']
comedy drama romance
['biography', 'drama', 'sport']
biography drama sport
['crime', 'mystery', 'romance', 'thriller']
crime mystery romance
['drama', 'romance']
drama romance
['crime', 'mystery', 'thriller']
crime mystery thriller
['comedy']
comedy
['comedy', 'thriller']
comedy thriller
['drama']
drama
['comedy', 'musical']
comedy musical
['comedy', 'drama', 'romance']
comedy drama romance
['drama', 'mystery', 'science', 'thriller']
drama mystery science
['comedy', 'horror', 'science']
comedy horror science
['drama', 'mystery', 'romance', 'science']
drama mystery romance
['action', 'adventure', 'fantasy', 'science', 'action', 'adventure', 'science', 'thriller']
action adventure fantasy
['drama', 'war']
drama war
['action', 'adventure', 'science', 'thriller']
action adventure science
['action', 'adventure', 'science', 'thriller']
action adventure science
['action', 'adventure', 'science', 'thriller']
action adventure science
['action', 'mystery', 'science', 'thriller']
action mystery science
['action', 'science', 'thriller']
action science thriller
['adventure', 'drama', 'romance', 'science']
adventure drama romance
['action', 'crime', 'drama', 'fantasy', 'music', 'mystery', 'science', 'thriller']
action crime drama
['comedy', 'drama']
comedy drama
['drama', 'thriller']
drama thriller
['drama', 'history', 'thriller']
drama history thriller
['action', 'drama', 'romance']
action drama romance
['action', 'adventure', 'science', 'thriller']
action adventure science
['action', 'comedy', 'horror', 'thriller']
action comedy horror
['drama', 'horror', 'mystery', 'thriller']
drama horror mystery
['fantasy', 'horror', 'mystery', 'thriller']
fantasy horror mystery
['crime', 'romance', 'thriller']
crime romance thriller
['drama', 'mystery', 'thriller']
drama mystery thriller
['adventure', 'horror', 'science', 'thriller']
adventure horror science
['drama']
drama
['comedy', 'romance']
comedy romance
['horror', 'romance', 'thriller', 'comedy']
horror romance thriller
['animation', 'adventure', 'drama', 'family', 'musical', 'animation', 'family']
animation adventure drama
['comedy', 'drama', 'romance']
comedy drama romance
['animation', 'adventure', 'comedy', 'family']
animation adventure comedy
['drama', 'war']
drama war
['comedy', 'drama', 'romance']
comedy drama romance
['action', 'thriller', 'crime']
action thriller crime
['drama', 'romance']
drama romance
['adventure', 'family', 'science']
adventure family science
['crime', 'drama', 'romance', 'thriller']
crime drama romance
['drama', 'mystery', 'thriller']
drama mystery thriller
['mystery', 'romance', 'thriller']
mystery romance thriller
['biography', 'drama']
biography drama
['action', 'crime', 'fantasy', 'thriller', 'animation', 'crime', 'fantasy', 'action', 'thriller']
action crime fantasy
['action', 'crime', 'fantasy', 'thriller']
action crime fantasy
['crime', 'drama', 'thriller', 'action', 'adventure', 'crime']
crime drama thriller
['animation', 'adventure', 'comedy', 'crime']
animation adventure comedy
['drama', 'comedy']
drama comedy
['comedy', 'drama', 'fantasy', 'romance']
comedy drama fantasy
['drama', 'mystery']
drama mystery
['action', 'fantasy', 'horror', 'thriller', 'action', 'adventure', 'horror']
action fantasy horror
['action', 'adventure', 'fantasy', 'horror', 'thriller']
action adventure fantasy
['biography', 'crime', 'drama']
biography crime drama

['drama', 'history', 'war']
drama history war
['drama', 'romance', 'thriller']
drama romance thriller
['crime', 'drama', 'thriller']
crime drama thriller
['drama', 'fantasy', 'science']
drama fantasy science
['comedy', 'drama', 'romance']
comedy drama romance
['comedy', 'horror']
comedy horror
['horror', 'comedy', 'action']
horror comedy action
['biography', 'crime', 'drama']
biography crime drama
['action', 'crime', 'fantasy']
action crime fantasy
['action', 'crime', 'thriller']
action crime thriller
['comedy', 'mystery', 'romance', 'thriller']
comedy mystery romance
['horror', 'mystery', 'thriller']
horror mystery thriller
['crime', 'drama', 'mystery', 'thriller']
crime drama mystery
['drama', 'mystery']
drama mystery
['action', 'adventure', 'thriller']
action adventure thriller
['crime', 'drama', 'science']
crime drama science
['crime', 'drama', 'thriller']
crime drama thriller
['action', 'crime', 'mystery', 'romance', 'thriller']
action crime mystery
['drama', 'mystery', 'science', 'thriller']
drama mystery science
['crime', 'drama']
crime drama
['crime', 'mystery', 'thriller']
crime mystery thriller
['crime', 'drama']
crime drama
['drama', 'romance', 'thriller']
drama romance thriller
['mystery', 'science', 'thriller']
mystery science thriller
['comedy', 'romance']
comedy romance
['horror', 'science']
horror science
['drama']
drama
['action', 'crime', 'science']
action crime science
['action', 'crime', 'thriller']
action crime thriller
['crime', 'drama']
crime drama
['action', 'crime', 'drama', 'thriller']
action crime drama
['drama']
drama
['action', 'adventure', 'science']
action adventure science
['biography', 'comedy', 'drama']
biography comedy drama
['comedy']
comedy
['comedy', 'drama']
comedy drama
['crime', 'drama', 'mystery', 'thriller']
crime drama mystery
['action', 'drama', 'thriller']
action drama thriller
['biography', 'drama', 'romance']
biography drama romance
['science', 'thriller']
science thriller
['action', 'adventure', 'science', 'thriller']
action adventure science
['action', 'crime', 'drama', 'science', 'thriller']
action crime drama
['adventure', 'science']
adventure science
['crime', 'drama', 'thriller']
crime drama thriller
['crime', 'drama', 'mystery', 'thriller']
crime drama mystery
['horror', 'thriller']
horror thriller
['horror', 'thriller']
horror thriller
['action', 'adventure', 'thriller']
action adventure thriller
['drama']
drama
['comedy', 'crime', 'mystery']
comedy crime mystery
['horror']
horror
['horror']
horror
['drama', 'romance', 'science', 'thriller']
drama romance science
['action', 'crime', 'drama', 'thriller']
action crime drama
['drama']
drama
['action', 'crime', 'thriller']
action crime thriller
['crime', 'drama', 'thriller']
crime drama thriller
['drama']
drama
['comedy', 'crime', 'romance', 'thriller']
comedy crime romance
['action', 'crime', 'drama', 'thriller']
action crime drama
['horror', 'thriller']
horror thriller
['comedy', 'drama', 'romance']
comedy drama romance
['crime', 'thriller']
crime thriller
['comedy', 'crime']
comedy crime
['crime', 'drama', 'fantasy', 'thriller']
crime drama fantasy
['comedy', 'drama']
comedy drama
['horror', 'mystery', 'thriller']
horror mystery thriller
['horror']
horror
['action', 'adventure', 'comedy', 'action', 'adventure', 'comedy', 'crime']
action adventure comedy
['horror']
horror
['crime', 'drama', 'mystery', 'thriller']
crime drama mystery
['horror', 'mystery', 'thriller']
horror mystery thriller
['drama', 'horror', 'mystery', 'thriller']
drama horror mystery
['thriller']
thriller
['thriller']
thriller
['thriller']
thriller
['comedy', 'drama', 'romance', 'sport']
comedy drama romance
['action', 'adventure', 'science', 'thriller']
action adventure science
['action', 'adventure', 'family', 'science', 'action', 'adventure', 'fantasy', 'science']
action adventure family
['horror', 'thriller']
horror thriller
['adventure', 'drama', 'romance']
adventure drama romance
['mystery', 'romance', 'thriller']
mystery romance thriller
['drama']
drama
['adventure', 'horror', 'mystery', 'science', 'thriller']
adventure horror mystery
['crime', 'thriller']
crime thriller
['drama', 'mystery', 'romance', 'western']
drama mystery romance
['drama', 'romance']
drama romance
['drama']
drama
['crime', 'thriller']
crime thriller
['biography', 'comedy', 'drama']
biography comedy drama
['drama', 'fantasy', 'mystery', 'romance']
drama fantasy mystery
['crime', 'drama', 'mystery', 'thriller']
crime drama mystery
['drama']
drama
['biography', 'crime', 'drama', 'thriller']
biography crime drama
['thriller']
thriller
['action', 'adventure', 'thriller']
action adventure thriller
['action', 'adventure', 'thriller']
action adventure thriller
['comedy', 'romance', 'drama']
comedy romance drama
['adventure', 'comedy']
adventure comedy
['drama', 'mystery', 'thriller']
drama mystery thriller
['comedy', 'drama', 'family', 'romance']
comedy drama family
['drama', 'music']
drama music
['action', 'crime', 'drama', 'romance', 'thriller']
action crime drama
['comedy', 'drama', 'romance']
comedy drama romance
['fantasy', 'horror', 'thriller']
fantasy horror thriller
['comedy', 'romance']
comedy romance
['crime', 'drama', 'romance']
crime drama romance
['comedy', 'crime', 'romance', 'thriller']
comedy crime romance
['action', 'drama', 'romance', 'war']
action drama romance
['comedy', 'drama', 'fantasy', 'romance']
comedy drama fantasy
['drama']
drama
['action', 'science', 'thriller']
action science thriller
['action', 'adventure', 'science', 'thriller', 'animation', 'action', 'adventure', 'science']
action adventure science
['action', 'drama', 'war']
action drama war
['action', 'adventure', 'crime', 'drama', 'sport', 'thriller']
action adventure crime
['action', 'adventure', 'science', 'thriller']
action adventure science
['comedy', 'romance']
comedy romance
['drama', 'horror', 'mystery', 'thriller', 'thriller']
drama horror mystery
['drama', 'horror', 'thriller']
drama horror thriller
['drama', 'romance', 'sport']
drama romance sport
['animation', 'comedy', 'crime', 'family', 'fantasy', 'mystery', 'animation', 'adventure', 'action', 'fantasy']
animation comedy crime
['drama', 'romance']
drama romance
['action', 'crime', 'thriller']
action crime thriller
['action', 'comedy', 'crime', 'thriller']
action comedy crime
['action', 'comedy', 'thriller', 'crime']
action comedy thriller
['comedy', 'romance', 'drama']
comedy romance drama
['drama', 'history']
drama history
['action', 'drama', 'history', 'war']
action drama history
['comedy', 'drama', 'romance']
comedy drama romance
['horror', 'mystery', 'thriller']
horror mystery thriller
['horror', 'mystery', 'thriller']
horror mystery thriller
['crime', 'horror', 'mystery', 'thriller']
crime horror mystery
['comedy', 'drama', 'romance']
comedy drama romance
['comedy', 'crime', 'music']
comedy crime music
['fantasy', 'mystery', 'thriller']
fantasy mystery thriller
['comedy']
comedy
['drama', 'horror', 'mystery', 'science', 'thriller']
drama horror mystery
['action', 'adventure', 'fantasy', 'science']
action adventure fantasy
['action', 'adventure', 'science', 'thriller']
action adventure science
['adventure', 'fantasy', 'mystery', 'science']
adventure fantasy mystery
['comedy', 'drama']
comedy drama
['comedy', 'drama']
comedy drama
['action', 'adventure', 'science']
action adventure science
['action', 'adventure', 'comedy', 'fantasy', 'science']
action adventure comedy
['action', 'adventure', 'fantasy', 'romance', 'science']
action adventure fantasy
['action', 'adventure', 'family', 'fantasy', 'science']
action adventure family
['action', 'family', 'science']
action family science
['drama', 'film-noir']
drama film-noir
['drama', 'mystery', 'science', 'thriller']
drama mystery science
['drama', 'history', 'romance']
drama history romance
['action', 'drama', 'history', 'romance', 'western']
action drama history
['animation', 'adventure', 'comedy', 'family', 'fantasy']
animation adventure comedy
['crime', 'drama', 'thriller']
crime drama thriller
['crime', 'drama']
crime drama
['action', 'adventure', 'science', 'thriller']
action adventure science
['action', 'adventure', 'science', 'thriller', 'science']
action adventure science
['action', 'thriller']
action thriller

['crime', 'romance', 'thriller']
crime romance thriller
['mystery', 'science', 'thriller']
mystery science thriller
['drama', 'fantasy', 'mystery', 'thriller']
drama fantasy mystery
['drama', 'western']
drama western
['crime', 'mystery', 'romance', 'thriller']
crime mystery romance
['drama', 'horror', 'mystery', 'thriller']
drama horror mystery
['comedy', 'fantasy', 'romance']
comedy fantasy romance
['crime', 'mystery', 'thriller']
crime mystery thriller
['action', 'western', 'comedy', 'science']
action western comedy
['action', 'adventure', 'drama', 'fantasy', 'romance']
action adventure drama
['drama', 'romance', 'thriller']
drama romance thriller
['action', 'crime', 'fantasy', 'mystery', 'science', 'thriller']
action crime fantasy
['action', 'adventure', 'crime']
action adventure crime
['action', 'science']
action science
['comedy', 'science']
comedy science

In [19]:
analy.tail(10)

,Year,Movie_Title,#_of_Female_Cast,#_of_Male_Cast,#_of_Female_Dialogue,#_of_Male_Dialogue,#_of_Female_Crew,#_of_Male_Crew,Sentiment_Female,Sentiment_Male,Genres,Genre1_Tag_Female,Genre1_Tag_Male,Genre2_Tag_Female,Genre2_Tag_Male,Genre3_Tag_Female,Genre3_Tag_Male
314,2000,what lies beneath,5,5,436,223,22,89,0.025850,0.003195,"['drama', 'horror', 'mystery', 'thriller']",0.083183,0.087377,0.122338,0.118682,0.120105,0.126256
315,2000,what women want,1,1,3,3,24,71,-0.119833,0.044167,"['comedy', 'fantasy', 'romance']",0.079808,0.151906,0.094969,0.181789,0.087453,0.145327
316,1998,wild things,6,7,245,264,1,8,-0.003185,-0.056314,"['crime', 'mystery', 'thriller']",0.125601,0.142793,0.135009,0.138269,0.070724,0.075105
317,1999,wild wild west,1,8,21,301,1,11,0.093195,0.083939,"['action', 'western', 'comedy', 'sci-fi']",0.127692,0.112407,0.117143,0.109587,0.106009,0.107918
318,1988,willow,3,7,65,233,11,45,-0.019435,0.035591,"['action', 'adventure', 'drama', 'fantasy', 'r...",0.080072,0.089630,0.117216,0.125480,0.099258,0.096071
319,1985,witness,2,8,119,238,0,7,0.057887,-0.022337,"['drama', 'romance', 'thriller']",0.084969,0.086732,0.112467,0.110036,0.050484,0.061333
320,2009,watchmen,5,11,118,249,6,18,-0.004826,-0.034900,"['action', 'crime', 'fantasy', 'mystery', 'sci...",0.094104,0.107686,0.123945,0.141025,0.162701,0.165683
321,2002,xxx,1,10,5,407,37,102,-0.002368,-0.010369,"['action', 'adventure', 'crime']",0.126709,0.129786,0.146824,0.147584,0.138890,0.152288
322,2000,x-men,4,5,61,114,3,20,-0.031449,0.029318,"['action', 'sci-fi']",0.117515,0.101213,0.143805,0.107125,0.000000,0.000000
323,1974,young frankenstein,3,11,121,455,9,35,0.182547,0.086947,"['comedy', 'sci-fi']",0.107888,0.094795,0.096118,0.100548,0.000000,0.000000

In [20]:
gc.collect()

671

In [21]:
analy.drop(['Genres'], axis = 1, inplace = True)

In [22]:
analy.head()

,Year,Movie_Title,#_of_Female_Cast,#_of_Male_Cast,#_of_Female_Dialogue,#_of_Male_Dialogue,#_of_Female_Crew,#_of_Male_Crew,Sentiment_Female,Sentiment_Male,Genre1_Tag_Female,Genre1_Tag_Male,Genre2_Tag_Female,Genre2_Tag_Male,Genre3_Tag_Female,Genre3_Tag_Male
0,1999,10 things i hate about you,5,7,295,374,11,26,0.027764,0.026287,0.099730,0.114050,0.127356,0.130247,0.000000,0.000000
1,1968,2001: a space odyssey,2,11,17,255,2,17,0.244724,0.141933,0.140718,0.107436,0.126419,0.143354,0.086336,0.109146
2,1982,48 hrs.,7,9,109,469,1,14,-0.026442,0.002866,0.109943,0.106253,0.121081,0.130147,0.137317,0.138767
3,1999,8mm,3,12,40,544,15,62,-0.092190,0.010540,0.139563,0.135962,0.129553,0.144263,0.057487,0.074767
4,1988,a nightmare on elm street 4: the dream master,5,3,91,64,3,12,-0.064149,-0.044042,0.178378,0.189375,0.173641,0.171361,0.087689,0.091100

In [23]:
analy.to_csv("Analysis_csv.csv", index = False)