In [1]:
import pandas as pd
import gc

In [ ]:
df = pd.read_csv("FINAL_DATASET.csv")
df.shape

In [ ]:
df.head()

In [ ]:
analysis_df = pd.DataFrame(columns = ['Year',
                                      'Movie_Title', 
                                      '#_of_Female_Cast', 
                                      '#_of_Male_Cast',
                                      '#_of_Female_Dialogue',
                                      '#_of_Male_Dialogue',
                                      '#_of_Female_Crew',
                                     '#_of_Male_Crew'])

In [ ]:
analysis_df['Movie_Title'] = df['Movie_Name']
analysis_df['Year'] = df['Year_of_Release']
analysis_df.shape

In [ ]:
analysis_df.head()

In [ ]:
mcm_df = pd.read_csv("mcm_csv.csv")

In [ ]:
mcm_df.loc[mcm_df["Movie_Number"] == "m0"]

In [ ]:
## Getting the number of female and male characters
for rows in analysis_df.itertuples():
    f_count = 0
    m_count = 0
    for row2 in mcm_df.itertuples():
        if row2[4] == rows[2]:
            if row2[5] == 'f':
                f_count += 1
            else:
                m_count += 1
    analysis_df.at[rows.Index, "#_of_Female_Cast"] = f_count
    analysis_df.at[rows.Index, "#_of_Male_Cast"] = m_count

In [ ]:
analysis_df.head()

In [ ]:
del mcm_df

In [ ]:
crew_df = pd.read_csv("Crew_Dataset.csv")

In [ ]:
crew_df.loc[crew_df["Movie_Number"] == "m0"]

In [ ]:
## Getting the number of female and male characters
for rows in analysis_df.itertuples():
    f_count = 0
    m_count = 0
    for row2 in crew_df.itertuples():
        if row2[2] == rows[2]:
            if row2[5] == 'f':
                f_count += 1
            else:
                m_count += 1
    analysis_df.at[rows.Index, "#_of_Female_Crew"] = f_count
    analysis_df.at[rows.Index, "#_of_Male_Crew"] = m_count

In [ ]:
del crew_df
analysis_df.head()

In [ ]:
## Getting the number of dialogues
ml_df = pd.read_csv("ml_csv.csv")
mcm_df = pd.read_csv("mcm_csv.csv")
print(len(ml_df.Line_Id.unique()), ml_df.shape)

In [ ]:
ml_df.head(1)

In [ ]:
mcm_df.head(1)

In [ ]:
new_df = pd.merge(ml_df, mcm_df, how='left')
new_df.drop_duplicates(keep='first', inplace=True)
new_df.shape

In [ ]:
new_df.head()

In [ ]:
## Getting the number of female and male characters
for rows in analysis_df.itertuples():
    f_count = 0
    m_count = 0
    for row2 in new_df.itertuples():
        if row2[6] == rows[2]:
            if row2[7] == 'f':
                f_count += 1
            else:
                m_count += 1
    analysis_df.at[rows.Index, "#_of_Female_Dialogue"] = f_count
    analysis_df.at[rows.Index, "#_of_Male_Dialogue"] = m_count

In [ ]:
del new_df
del ml_df
del mcm_df

In [ ]:
analysis_df.head()

In [ ]:
analysis_df.to_csv("Analysis_csv.csv", index = False)

# Getting Sentiment scores in place

In [2]:
analy = pd.read_csv("Analysis_csv.csv")
print(analy.shape)

(324, 8)

In [3]:
analy.head()

,Year,Movie_Title,#_of_Female_Cast,#_of_Male_Cast,#_of_Female_Dialogue,#_of_Male_Dialogue,#_of_Female_Crew,#_of_Male_Crew
0,1999,10 things i hate about you,5,7,295,374,11,26
1,1968,2001: a space odyssey,2,11,17,255,2,17
2,1982,48 hrs.,7,9,109,469,1,14
3,1999,8mm,3,12,40,544,15,62
4,1988,a nightmare on elm street 4: the dream master,5,3,91,64,3,12

In [4]:
ml = pd.read_csv("ml_csv.csv")
mcm = pd.read_csv("mcm_csv.csv")
print(ml.shape)

(304713, 5)

In [5]:
ml.loc[ml["Movie_Number"] == 'm0'].shape

(669, 5)

In [6]:
ml.head()

  Line_Id Character_Id Movie_Number Character_Name      Dialogue
0   L1045           u0           m0         BIANCA  They do not!
1   L1044           u2           m0        CAMERON   They do to!
2    L985           u0           m0         BIANCA    I hope so.
3    L984           u2           m0        CAMERON     She okay?
4    L925           u0           m0         BIANCA     Let's go.

In [7]:
mcm.head()

,Character_Id,Character_Name,Movie_Number,Movie_Title,Gender,Position_in_Credits
0,u0,BIANCA,m0,10 things i hate about you,f,4
1,u1,BRUCE,m0,10 things i hate about you,m,?
2,u2,CAMERON,m0,10 things i hate about you,m,3
3,u3,CHASTITY,m0,10 things i hate about you,f,?
4,u4,JOEY,m0,10 things i hate about you,m,6

In [8]:
ml_mcm = pd.merge(ml, mcm, on = ["Movie_Number", "Character_Name"], how = "left")
ml_mcm.shape

(304713, 9)

In [9]:
ml_mcm.head()

,Line_Id,Character_Id_x,Movie_Number,Character_Name,Dialogue,Character_Id_y,Movie_Title,Gender,Position_in_Credits
0,L1045,u0,m0,BIANCA,They do not!,u0,10 things i hate about you,f,4
1,L1044,u2,m0,CAMERON,They do to!,u2,10 things i hate about you,m,3
2,L985,u0,m0,BIANCA,I hope so.,u0,10 things i hate about you,f,4
3,L984,u2,m0,CAMERON,She okay?,u2,10 things i hate about you,m,3
4,L925,u0,m0,BIANCA,Let's go.,u0,10 things i hate about you,f,4

In [11]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import re
import numpy as np

In [12]:
sid = SentimentIntensityAnalyzer()

In [13]:
# Now doing it for the movie
for rows in analy.itertuples():
    sent_dict = {}
    for rows2 in ml_mcm.itertuples():
        if rows2[7] == rows[2]:
            l = rows2[5]
            line = re.sub(r'\.\.+', '', str(l))
            s_score = sid.polarity_scores(line)
            sent_dict[rows2.Index] = {rows2[8] : s_score.get('compound')}
#     print(sent_dict, len(sent_dict))
    g_listm = []
    genre_listm = []
    g_listf = []
    genre_listf = []
    sum_f = 0; sum_m = 0
    for key, vals in sent_dict.items():
        gender = str(list(sent_dict.get(key, {}).keys())).replace('[','').replace(']', '').replace('\'', '')
        genre = str(list(sent_dict.get(key, {}).values())).replace('[','').replace(']', '').replace('\'', '')
        if gender == 'm' or gender == 'M':
            g_listm.append(gender)
            genre_listm.append(genre)
        else:
            g_listf.append(gender)
            genre_listf.append(genre)
    genre_listf = np.array(genre_listf, dtype = float)
    genre_listm = np.array(genre_listm, dtype = float)
#     print(genre_listf,  "\n----\n", genre_listm)
    try:
        sum_f = sum(genre_listf)/len(genre_listf)
    except:
        sum_f = 0
    try:
        sum_m = sum(genre_listm)/len(genre_listm)
    except:
        sum_m = 0
    print(sum_f, "----", sum_m)
    analy.at[rows.Index, "Sentiment_Female"] = sum_f
    analy.at[rows.Index, "Sentiment_Male"] = sum_m

0.027764406779661036 ---- 0.02628743315508023
0.24472352941176467 ---- 0.14193333333333336
-0.026442201834862386 ---- 0.0028660980810234623
-0.09219000000000002 ---- 0.010540441176470607
-0.06414945054945054 ---- -0.044042187499999996
0.03359540229885057 ---- 0.013839145907473316
0.09267380952380952 ---- 0.06590328947368423
0.13621000000000003 ---- 0.030714634146341468
-0.0018551724137931052 ---- 0.04254810810810811
0.039080624999999994 ---- 0.12204639905549007
0.01419607843137255 ---- -0.022654117647058825
0.04387714285714286 ---- -0.0016661101836394
0.07122576687116564 ---- 0.03593592233009707
0.008882432432432434 ---- 0.08074761904761903
0.08902520325203253 ---- 0.057425277777777804
0.12354554455445545 ---- 0.08899604221635884
0.1843951612903226 ---- 0.17958405797101437
-0.02928759124087592 ---- -0.07126635859519406
0.08284462809917355 ---- 0.08067237762237765
0.010062222222222212 ---- 0.047314206128133716
0.05918319327731089 ---- 0.10555409309791325
0.08015517241379307 ---- 0.12820952380952388
0.00622444444444444 ---- -0.04960680628272253
0.05023402777777778 ---- 0.11611057971014467
0.022361904761904767 ---- 0.019315189873417724
0 ---- 0.005317361111111113
0.0043006802721088444 ---- 0.010051267605633785
0.09628204081632652 ---- 0.02936557377049182
0.06102272727272728 ---- 0.0033411371237458236
0.10373918918918913 ---- 0.09376593886462875
0.02010779220779221 ---- 0.0836445945945946
0.03416136363636364 ---- -0.02319253731343283
0.012077586206896546 ---- 0.07135089820359283
0.11939285714285709 ---- 0.05650599250936329
0.06084210526315791 ---- -0.08112951289398282
0.05549143518518519 ---- 0.06939696969696975
0.06982661290322582 ---- 0.030463594470046085
0.016454081632653064 ---- 0.07017037037037036
0.08877547169811319 ---- -0.018119746835443033
0.024700711743772263 ---- 0.009079723502304158
0.04100096153846155 ---- 0.05591940298507463
-0.0025830769230769214 ---- 0.0021664414414414423
0.023528867403314932 ---- 0.1070536398467433
0.0717240384615385 ---- 0.09540786802030454
0.09160666666666671 ---- 0.05673438395415475
0.10532714285714288 ---- 0.0738371335504886
0.08531350210970468 ---- 0.0774739495798319
0.16922487804878047 ---- 0.0938852307692308
0.04014473684210527 ---- 0.021090000000000005
-0.028120370370370375 ---- -0.008114042553191512
0.00986165413533834 ---- 0.016986776859504137
0.07023565573770493 ---- 0.03620551724137927
-0.003351834862385326 ---- 0.02102714617169374
0.049428169014084505 ---- 0.06347261410788375
0.036197619047619055 ---- 0.04708248587570623
-0.022323151125401924 ---- 0.08438741721854304
0.12531643356643343 ---- 0.1768690298507462
0.0728590909090909 ---- 0.07406415094339622
-0.009250000000000001 ---- 0.0020120754716981145
0.012997297297297301 ---- 0.06735748031496062
0.0025821917808219142 ---- 0.017929816513761465
0.09334115755627008 ---- 0.03574146341463416
0.09145531400966175 ---- 0.11846406249999998
-0.019023728813559303 ---- -0.06675675241157557
0.028995909090909093 ---- -0.010751550387596892
-0.044016438356164374 ---- -0.04584988399071928
0.11452083333333334 ---- -0.00019808219178080253
0.11593482905982892 ---- 0.126830243902439
0.05892727272727273 ---- 0.03971671826625388
0.011609756097560977 ---- 0.01924310776942355
0.08422738853503187 ---- 0.02243382352941178
0.08269281045751635 ---- 0.051352403846153825
0.11222604166666666 ---- 0.011619533527696804
-0.033977343749999986 ---- 0.04583839779005529
0.03405833333333333 ---- 0.09813865979381427
0.01223636363636364 ---- 0.030088705234159775
-0.031280291970802905 ---- 0.008356776556776562
0.06318260869565218 ---- 0.02794686774941994
0.058568699186991854 ---- 0.061634259259259236
0.1158769696969697 ---- 0.0931515850144092
0.012796875 ---- 0.013589952153110063
0.1253714285714286 ---- 0.020064545454545443
0.11807491289198607 ---- 0.11432916030534344
0.11825904255319156 ---- 0.1317704918032786
0.047895238095238095 ---- 0.01398347826086958
-0.0013239999999999962 ---- 0.013492462311557802
0.11411294117647061 ---- 0.007489419795221858
0.027564375000000002 ---- -0.03504368932038835
0.14255288888888873 ---- 0.15964530973451324
-0.0017265822784810134 ---- 0.03155700575815739
0.029150000000000006 ---- 0.042810344827586146
0.10447672955974842 ---- 0.050526176470588234
-0.01995 ---- -0.03659842105263157
0.10065073170731711 ---- 0.10114316702819963
0.10034363057324835 ---- 0.08543835920177377
-0.027110476190476195 ---- -0.009087826086956524
0.03895507246376812 ---- 0.01768248730964467
0.05661438848920863 ---- 0.027737339055794008
-0.05350476190476191 ---- -0.1056772522522523
0.06630000000000001 ---- 0.11903037974683547
-0.07082142857142858 ---- 0.013073648648648656
0.05845546391752581 ---- 0.015090585241730271
0.06975242718446603 ---- 0.08970197044334977
0.1086738095238095 ---- 0.0980483969465648
0.030938709677419345 ---- 0.007699570815450641
0.031019047619047613 ---- -0.012848888888888865
-0.03736470588235294 ---- 0.009937500000000004
-0.034967878787878784 ---- 0.05533739837398374
0.07389166666666667 ---- 0.006730740740740741
0.07915747126436784 ---- 0.05672499999999998
0.0645472972972973 ---- 0.016792019950124675
0.03069375000000001 ---- -0.01937942122186495
0.017595652173913044 ---- -0.000206808510638294
0.03719696969696971 ---- 0.04378986354775829
0.04997116279069771 ---- 0.0238158536585366
0.008516969696969696 ---- 0.016590659340659338
0.0864103448275862 ---- 0.039284022824536365
0.0818591463414634 ---- 0.053816715542521945
0.005454128440366968 ---- -0.00326759776536313
0.051440157480315 ---- 0.017035502958579897
-0.031150961538461537 ---- 0.007870684931506866
0.07785967741935486 ---- -0.08312847682119212
0.023261478599221785 ---- 0.023970118343195273
0.0435993827160494 ---- 0.01431484375000001
0.00207013698630137 ---- 0.03842417582417576
0.013886124401913861 ---- -0.05683333333333334
-0.01091875 ---- 0.010676963350785352
0.10153785166240395 ---- 0.10060543209876537
0.17362427745664735 ---- 0.06783593073593076
-0.06318499999999999 ---- -0.062236363636363604
0.0056555555555555526 ---- 0.07115430463576153
0.13729499999999992 ---- 0.08583436988543372
-0.0047884353741496815 ---- 0.09922080924855486
-0.031636363636363636 ---- -0.01941836363636364
0.04000330188679245 ---- 0.0908680555555555
0.015619178082191786 ---- 0.023582275132275142
0.056593877551020404 ---- 0.07296843750000002
0.04331162790697674 ---- 0.05694270462633452
0.0752299065420561 ---- 0.0916364532019704
0.08270816326530614 ---- 0.07816724511930585
0.02172343750000001 ---- -0.05087578947368419
0.08202068965517241 ---- 0.08073904494382023
-0.0043695652173913035 ---- 0.03986462264150943
-0.0013723076923076874 ---- 0.020116849816849827
-0.012439423076923075 ---- 0.05366682242990658
0.12643125 ---- -0.03997971014492755
0.20433714285714255 ---- 0.2239223463687146
0.10919511278195487 ---- 0.12312888283378748
0.06029565217391307 ---- 0.06435454545454546
-0.10429761904761904 ---- -0.05128203592814371
-0.0027142857142857094 ---- -0.009362576687116562
0.07999621212121209 ---- 0.08970626118067968
0.09098095238095238 ---- 0.04478018018018018
0.0078081818181818165 ---- -0.00598992248062016
0.027506666666666683 ---- -0.06351187214611871
0.009510077519379836 ---- 0.058012298387096844
0.09734560000000003 ---- 0.08673023255813955
0.15374018691588784 ---- 0.06277142857142853
0.09065667574931877 ---- 0.03343993055555555
0.05686909090909092 ---- 0.028041583333333286
0.062071171171171176 ---- 0.062406611570247926
0.014079746835443066 ---- 0.0014552521008403343
0.10457333333333335 ---- 0.02823075089392135
-0.011394573643410845 ---- -0.012222748815165881
0.029744329896907222 ---- 0.03064005979073243
0.04807882352941178 ---- 0.07290985074626874
0.048915972222222236 ---- -0.0020443076923076895
0.019699999999999992 ---- 0.07491420765027322
-0.0276825 ---- -0.021135341365461843
-0.00806100917431192 ---- 0.0054681208053691255
0.08058064516129036 ---- 0.04667642585551332
-0.032713043478260866 ---- 0.07411985018726597
-0.022749287749287753 ---- 0.0009502415458937222
0.061620312499999996 ---- -0.05308999999999999
0.056870114942528756 ---- 0.06425764075067023
0.053753333333333334 ---- 0.03610374331550804
0.03698219178082191 ---- 0.06831930232558138
-0.08184266666666667 ---- -0.09640681818181818
0.11860612244897957 ---- 0.05706266968325791
0.091024 ---- -0.016614388489208612

0.11024285714285716 ---- 0.012508171206225696
0.007757142857142853 ---- 0.009626978417266209
-0.03465474452554743 ---- -0.04796000000000001
-0.004328205128205131 ---- -0.02261621004566209
-0.00777708333333333 ---- 0.0472375
0.09083071895424834 ---- 0.06509208400646202
0.04082795698924732 ---- 0.06388979591836735
0.0875187919463087 ---- 0.15413799126637556
0.08312564102564106 ---- -0.010602417962003466
0.019527536231884076 ---- 0.009348578491965397
0.022190389016018316 ---- 0.04484222972972972
0.10978125 ---- 0.049861764705882355
-0.005175609756097567 ---- -0.02838653846153846
-0.0016075268817204369 ---- 0.021094881889763793
0.11667500000000003 ---- -0.003003107344632764
0.07917446808510636 ---- 0.06243403846153846
-0.004815037593984965 ---- -0.014150464396284831
-0.06495364238410593 ---- -0.07437692307692306
-0.00861818181818182 ---- -0.07618000000000001
-0.04989999999999999 ---- 0.0042691406250000025
0.10477008928571431 ---- 0.05440457746478875
0.06772298136645964 ---- 0.04141899641577062
0.020293333333333344 ---- 0.017210576923076922
0.05477615384615385 ---- -0.026495918367346934
-0.08518901098901097 ---- -0.00837750865051903
-0.0070176056338028215 ---- 0.045412195121951215
0 ---- -0.007383638320775022
-0.03792619047619047 ---- 0.014034920634920647
-0.04397384615384615 ---- -0.05845745614035086
0.07273200000000002 ---- 0.04816724137931037
0.06332300884955756 ---- 0.032740683229813675
0.01662500000000003 ---- 0.020399096385542183
-0.014003902439024375 ---- -0.01383157894736842
0.1170641221374045 ---- 0.10714611764705885
0.05310909090909092 ---- 0.08093523573200995
0.02476768060836503 ---- -0.03816913580246913
0.03076774193548387 ---- 0.19374761904761903
0.065225 ---- 0.02614249084249085
-0.05014850299401196 ---- -0.011334951456310681
0.09533313253012046 ---- 0.17014025974025979
0.03858058252427185 ---- -0.002080487804878048
0.0819968944099379 ---- 0.001489705882352951
0.06229012345679013 ---- 0.013587192118226598
0.06682466960352422 ---- -0.008038970588235295
-0.021106250000000007 ---- -0.05562243902439025
0.018054 ---- 0.0037553784860557774
0.01065550239234451 ---- 0.03857958579881657
0.02522307692307693 ---- 0.007736363636363644
0.09875251396648047 ---- 0.08932791878172583
0.16763648648648652 ---- 0.05798113207547169
0.03077096774193548 ---- 0.05957031249999998
-0.06771741573033706 ---- 0.004345652173913038
0.006075 ---- 0.05442020202020202
0.06048115183246072 ---- -0.014398892988929888
0.05451655172413794 ---- 0.06039910313901345
0.07609636363636363 ---- -0.03346582733812948
0.13705573770491808 ---- -0.0015198863636363602
0.06296641791044773 ---- -0.0024936688311688257
0.1014707792207792 ---- 0.09516206896551718
-0.025936046511627904 ---- 0.02909402597402597
0.048861320754716976 ---- 0.016265492957746486
0.046562162162162156 ---- 0.044073899371069175
0.12285100671140932 ---- 0.1062158291457284
0.011984615384615368 ---- -0.018347043010752677
0.0797225806451613 ---- 0.005468636363636369
-0.08023571428571429 ---- -0.0364367149758454
0.1599547738693467 ---- 0.08907766497461929
0.024349541284403683 ---- 0.019489625360230564
0.0022531914893616995 ---- 0.02058144927536233
-0.002367455621301771 ---- 0.043122522522522536
-0.05025483870967743 ---- 0.0523097046413502
0.02842696078431373 ---- 0.1228889655172414
0.07077317073170734 ---- 0.10378434163701064
0.07421014492753623 ---- 0.10094582043343656
0.09491607142857143 ---- 0.010238202247191025
0.10517739726027403 ---- 0.07632471264367818
0.0264072625698324 ---- -0.011806874999999984
0.08678977777777776 ---- 0.08959145496535796
0.047290370370370365 ---- 0.11279445585215594
0.023687066246056803 ---- 0.0307245925925926
0.014939240506329101 ---- 0.02142015810276681
0.0714411504424779 ---- 0.13300601503759402
-0.007925757575757574 ---- 0.09219104166666667
-0.057250295857988166 ---- 0.00949010989010989
0.0503784090909091 ---- 0.0009704268292682942
-0.1325794871794872 ---- -0.19197989417989422
0.0011758620689655093 ---- 0.025784586466165424
0 ---- -0.0076542857142857055
0.10457122807017541 ---- 0.08086475644699144
0.007241379310344833 ---- -0.001898133333333331
0.04100999999999999 ---- 0.035085416666666695
0.04016250000000001 ---- 0.06828413284132841
0.027643396226415103 ---- 0.039898684210526315
0.15724999999999997 ---- 0.06530055555555556
-0.012139726027397262 ---- 0.00944095634095634
0.06011639344262296 ---- -0.024999570815450633
-0.020294117647058824 ---- -0.0019233576642335673
0.09452793103448276 ---- 0.07214028985507248
-0.0017656250000000057 ---- 0.005770175438596495
0 ---- -0.011348240165631457
0.09690974729241877 ---- 0.13161654135338344
-0.059799280575539564 ---- -0.017324875621890546
-0.05736074766355141 ---- -0.05361541850220265
-0.0006370262390670463 ---- -0.0634900269541779
0.12469629629629632 ---- 0.10406361445783124
0.0762265780730897 ---- 0.043062417582417564
0.0006651785714285681 ---- -0.0025147928994082897
0.09835272108843539 ---- 0.054459533073930026
-0.015828464419475656 ---- 0.0015963777490297574
-0.14184857142857143 ---- 0.028919140625000013
0.03356666666666668 ---- 0.0770760752688172
0.0575576923076923 ---- 0.05189601328903652
0.02007920000000002 ---- 0.04145795454545456
-0.07370571428571428 ---- -0.008636720142602498
0.06344440677966097 ---- 0.02239830508474576
0.06279263803680982 ---- 0.06589750778816197
0.08559917355371899 ---- 0.058001010101010116
0.01738673469387756 ---- 0.07537902097902098
0.07581974522292995 ---- 0.016168243243243254
0.0363991452991453 ---- 0.09208169398907098
0.026049484536082475 ---- -0.02163687943262411
0.025842690058479518 ---- 0.09933849557522124
0.0931835443037975 ---- 0.046456207674943586
0.13036129032258065 ---- 0.02318086253369271
0.02561904761904763 ---- 0.048653097345132734
-0.0310554054054054 ---- 0.050774324324324306
0.04095614035087719 ---- 0.0043924836601307235
0.09877924528301892 ---- 0.07385902255639099
0.08680162162162161 ---- 0.04492688524590164
0.10098235294117647 ---- 0.015613059033989284
0.027056060606060618 ---- -0.042428054298642534
-0.0018520833333333375 ---- -0.007508333333333328
-0.029877777777777784 ---- -0.045416837782340895
0.03468602484472051 ---- 0.06514209039548025
0.025850229357798172 ---- 0.003194618834080714
-0.11983333333333333 ---- 0.04416666666666669
-0.003185306122448962 ---- -0.056313636363636344
0.0931952380952381 ---- 0.08393853820598006
-0.01943538461538461 ---- 0.035591416309012885
0.05788739495798324 ---- -0.02233739495798319
-0.004826271186440677 ---- -0.034900000000000014
-0.002368493150684933 ---- -0.010368731563421817
-0.03144918032786885 ---- 0.029318421052631577
0.18254710743801664 ---- 0.08694747252747254

In [16]:
analy.tail()

,Year,Movie_Title,#_of_Female_Cast,#_of_Male_Cast,#_of_Female_Dialogue,#_of_Male_Dialogue,#_of_Female_Crew,#_of_Male_Crew,Sentiment_Female,Sentiment_Male
319,1985,witness,2,8,119,238,0,7,0.057887,-0.022337
320,2009,watchmen,5,11,118,249,6,18,-0.004826,-0.034900
321,2002,xxx,1,10,5,407,37,102,-0.002368,-0.010369
322,2000,x-men,4,5,61,114,3,20,-0.031449,0.029318
323,1974,young frankenstein,3,11,121,455,9,35,0.182547,0.086947

In [17]:
analy.to_csv("Analysis_csv.csv", index = False)